%h1 Listing entries

%table.table.table-striped
  %thead
    %tr
      %th Quantity
      %th Value unit
      %th Value total
      %th Product
      %th Actions

  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.quantity
        %td= entry.value_unit
        %td= entry.value_total
        %td= entry.product.name
        %td
          = link_to 'Show', entry
          = link_to 'Edit', edit_entry_path(entry)
          = link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
