%h1 Listing customers

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.name
        %td
          = link_to 'Show', customer
          = link_to 'Edit', edit_customer_path(customer)
          = link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
